{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Crawler</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    {% include 'core/nav.html' %}
    <div class="content-wrapper">
    {% include 'core/periods.html' %}

    <div class="ui relaxed divided list">
        {% if articles %}
        {% for article in articles %}
        <div class="item">
            <div class="content large text">
                <a class="header" href="#" onclick="window.open('{{ article.link }}')">{{ article.title }}</a>
                <div class="description">{{ article.timestamp }}</div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>No articles found for '{{ period }}'</p>
            <div class="ui divider"></div>
        {% endif %}
    </div>

    {% if not no_pagination %}
        {% include 'core/pagination.html' %}
    {% endif %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>