<div class="container mb-4">
    <div class="ui relaxed divided list">
        {% if object_list %}
            {% for article in object_list %}
                <div class="item">
                    <div class="content large text">
                        <a class="header" href="#" onclick="window.open('{{ article.link }}')">{{ article.title }}</a>
                        <div class="description">{{ article.timestamp }}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No articles found for '{{ period }}'</p>
            <div class="ui divider"></div>
        {% endif %}
    </div>
</div>
