<div class="ui text menu">
    {% for p in periods %}
        {% if p.0 == period %}
            <a style="margin-right: 40px; " class="active item" href="{% url current_site.name p.0 1 %}">
                <strong>{{ p.0 }}</strong>
                <div class="ui teal label">{{ p.1 }}</div>
            </a>
        {% else %}
            <a style="margin-right: 40px;" class="item" href="{% url current_site.name p.0 1 %}">
                {{ p.0 }}
                <div class="ui teal label">{{ p.1 }}</div>
            </a>
        {% endif %}
    {% endfor %}
</div>